<form [formGroup]="taskForm" (ngSubmit)="onSubmit($event)" class="form-container animate-from-top">
  <h2 class="task-list-title animate-from-top">Crear  tareas</h2>

  <div class="form-group">
    <label for="name">Nombre de tarea:</label>
    <input id="name" formControlName="name" required />
    <div *ngIf="taskForm.get('name')?.invalid && (taskForm.get('name')?.touched || taskForm.get('name')?.dirty)">
      <small *ngIf="taskForm.get('name')?.errors?.['required']" class="error-message">Nombre de tarea es requerido</small>
      <small *ngIf="taskForm.get('name')?.errors?.['minlength']" class="error-message">El nombre de la tarea debe ser mayor a 5 caracteres.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="dueDate">Fecha:</label>
    <input id="dueDate" type="date" formControlName="dueDate" />
    <div *ngIf="taskForm.get('dueDate')?.invalid && (taskForm.get('dueDate')?.touched || taskForm.get('dueDate')?.dirty)">
      <small *ngIf="taskForm.get('dueDate')?.errors?.['required']"  class="error-message">Fecha es requerida</small>
    </div>
  </div>

  <div formArrayName="people" class="form-group">
    <h3>Asociar personas</h3>
    <div *ngFor="let person of people.controls; let i = index" [formGroupName]="i" class="person-container">
      <div class="form-group">
        <label for="fullName">Nombre completo:</label>
        <input formControlName="fullName" />
        <div *ngIf="person.get('fullName')?.invalid && (person.get('fullName')?.touched || person.get('fullName')?.dirty)">
          <small *ngIf="person.get('fullName')?.errors?.['required']"  class="error-message">El Nombre completo es requerido.</small>
          <small *ngIf="person.get('fullName')?.errors?.['minlength']" class="error-message">El nombre completo debe ser mayor a cinco caracteres.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="age">Edad:</label>
        <input formControlName="age" type="number" />
        <div *ngIf="person.get('age')?.invalid && (person.get('age')?.touched || person.get('age')?.dirty)">
          <small *ngIf="person.get('age')?.errors?.['required']" class="error-message">La edad es requerida.</small>
          <small *ngIf="person.get('age')?.errors?.['min']" class="error-message">Debe ser mayor de 18 años.</small>
        </div>
      </div>

      <div formArrayName="skills" class="form-group">
        <h4>Habilidades</h4>
        <div *ngFor="let skill of getSkills(i).controls; let j = index" [formGroupName]="j" class="skill-container">
          <label for="skillName">Nombre de habilidad:</label>
          <input id="skillName" formControlName="name" required />
          <button type="button" (click)="removeSkill(i, j)">Eliminar habilidad</button>
        </div>
        <button type="button" (click)="addSkill(i)">Agregar habilidad</button>
      </div>

      <button type="button" (click)="removePerson(i)">Eliminar persona</button>
    </div>
  </div>

  <button type="button" (click)="addPerson()">Agregar persona</button>

  <button type="submit" [disabled]="taskForm.invalid">Crear Tareas</button>

  <div *ngIf="taskForm.invalid && isSubmitting">
    <p class="error-message">Por favor, revisa los errores en el formulario.</p>
  </div>
</form>
